<p id="slogan">Round round, get around, we get around, yeah, round round...</p>

<div id="content">

	<div id="main">
	
		<h2>Business Services</h2>
	
	  <p>On top of our comprehensive home user experience, we have a wide range of business services too. From simple configuration issues, to complete office setups, PC Repairs have done it. We offer a range of services from a simple 'per hour' contract, to annual service contracts that suit every size of business. We cover simple small office to large enterprise Windows Server environments with Exchange.</p>
	
		<p>We've handled the IT needs for many customers in the Skipton area -- as well as other areas of the UK -- for over a decade. With our reasonable on-demand contracts you wouldn't be surprised to hear that most issues are handled within a few hours, as many of our happy customers praise us for on a daily basis.</p>
					
		<h3>What can we do?</h3>
		<ul class="items">
		  <li class="first">					
				<h4>Windows &reg; Server installation and repair</h4>
				<p>With experience ranging from Windows NT 4 all the way up to Windows Server 2008, we're proficient at setting up, configuring and repairing a wide range of enterprise software configurations. Do you need an Exchange server setting up? Have Blackberry's that you want to use within your corporation? Then come to us.</p>
			</li>
			<li>					
				<h4>IT Consultancy</h4>
				<p>If you're just looking for advice that's backed by real experience, our engineers are ideal. We have decades of experience in a multitude of scenarios that have helped us really get to know what suits a certain situation. We can advise, oversee or even fully implement whatever you need.</p>
			</li>
			<li>					
				<h4>Migration Services</h4>
				<p>If you need to move from a legacy system to a more up to date one, or simply dislike your current setup and you're moving to a new one, our engineers have probably done something similar in the past. Get in touch and we'll see how we can help you.</p>
			</li>
			<li>					
				<h4>Networking</h4>
				<p>From older token ring systems, to the newer Cat 6E systems, you won't be surprised to hear that our engineers can help you out here too. Full installations or upgrades, our experts can sort any scale of problem.</p>
			</li>
		</ul>			
	
	</div>
	
	<%= erb(:updates, :layout => false) %>

</div>