<p id="slogan"><%= @flash ? @flash : "We've been repairing your computers since the dawn of time" %></p>

<div class="col first">

	<h2>Who We Are?</h2>	
	<p><img src="images/img_01.jpg" alt="" /></p>	
	<p>We're PC Repairs. We've been around for over a decade fixing PC's in and around the Skipton area mostly, but we've been known to go as far as Edinburgh! We're a small team, but we're highly experienced and well regarded.</p>
	
</div>

<div class="col">

	<h2>What We Do?</h2>	
	<p><img src="images/img_02.jpg" alt="" /></p>	
	<p>Business repairs, home repairs, networking, software, web sites. You name it we can do it, and if we can't, we'll tell you and won't charge you for the privilege. We'll even help you find someone who will be able to help you.</p>
	
</div>

<div class="col">

	<h2>How We Do It?</h2>	
	<p><img src="images/img_03.jpg" alt="" /></p>	
	<p>Competently and quickly. We've been doing this a long time so we know what we're doing, and we don't waste any time. The quicker we fix your PC, the quicker you can get going again.</p>
	
</div>