<p id="slogan">If there's something strange, and it don't look good...</p>

<div id="content">

	<div id="main">
	
		<h2>Home Services</h2>
	
		<p>Our Home Services are exactly what you'd think. We have highly experienced -- and completely house trained -- engineers that can come to <strong>your</strong> house when it's convenient for <strong>you</strong>. What a hassle it is to unplug your computer and carry it to a shop, only to find out that they have a queue and can't fix your computer straight away! That doesn't happen with PC Repairs.</p>
		<p>On the rare occasion that we can't fix your PC on the spot, we can take it away to our heavily equipped office where we have speciality equipment to fix your computer in no time, once the repair is complete we bring the computer back and plug it straight back in. Convenience, <strong>and</strong> piece of mind!</p>
					
		<h3>What can we do?</h3>
		
		<ul class="items">
		  <li class="first">					
				<h4>Hardware repairs and upgrades</h4>
				<p>Having access to every type of hardware that is available on the market, and having installed pretty much every one of them at some point in our careers, we're ideally suited for handling the updates your PC might need. We can give unbiased advice on what you need and more importantly what you <strong>don't</strong> for the task at hand.</p>
			</li>
			<li>					
				<h4>Virus, trojan and spyware removal</h4>
				<p>We can get rid of those pesky problems that haunt your machine every day. With over ten years professional experience dealing with viruses and other malicious software, we're up to date on how to get rid of even the worst strains of flu that your PC might have!</p>
			</li>
			<li>					
				<h4>Internet issues</h4>
				<p>We have customers all over the UK so we're in tune with day to day broadband issues and can help solve any that you have. As well as solving issues, we've set up hundreds of homes on a multitude of internet providers which gives us the benefit of impartial advice on which provider to choose and which to avoid, and we can even set it all up for you.</p>
			</li>
			<li>					
				<h4>Networking, wired and wireless</h4>
				<p>Because of our professional business services we've configured networks that span hundreds of miles, as well as in and around homes. Our experience in this area means when you need to get your PC's communicating, we've got you covered.</p>
			</li>
      <li>					
				<h4>Software</h4>
				<p>As well as all of the above, it shouldn't surprise you to hear that we're all over your software problems too! From fixing simple application issues that might crop up, to helping you choose the right software for the job, we can help.</p>
			</li>
		</ul>			
	
	</div>
	
	<%= erb(:updates, :layout => false) %>

</div>