<div id="side">
	
	<h2>Latest Updates</h2>		
				
	<ul class="list">
		<li class="first">
			<h3>We're Live!</h3>
			<p>Yes, we've got a new site, new information, and convenient ways for you to get in touch. Please let us know what you think of the new site, and we hope you like it!</p>
			<p>Keep your eye out for changes too, as we extend the site with more updates and even more refined information on how we can help you.</p>
		</li>							
	</ul>
	
</div>